body {
    background-color: deepskyblue;
    font-family: Merriweather, sans-serif
}
.horizontal-list {
    padding-left: 0;
    font-size: x-large
}
.horizontal-list li {
    display: inline;
    margin: 0 5px;
}
nav {
    border: 2px solid black;
    border-radius:25px;
    width: fit-content;
    background: rgb(242, 163, 5);
    margin-inline: auto;
}
h1 {
    text-align: center
}
img {
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
}
ul, p {
    font-size: 18px
}
ul li:nth-child(10) {
    font-weight: bold
}
ul li:nth-child(7) {
    color: forestgreen
}
th, td {
    padding: 5px 10px;
    border: 3px solid black;
    font-size: 18px
}